.ILS.issue-link {
	display: inline-block; /* Avoid widows on simple issue links #5 */
	text-decoration: inherit; /* Inherit strike-through styling for <del> tags */
}
.ILS svg {
	font-size: calc(1em / 14 * 8.125); /* Turn into em and make it 19% smaller */
	vertical-align: -15%;
	margin-left: 0.3em;
}
.ILS + .ILS {
	margin-left: 0.1em;
}
