@import '../node_modules/webext-base-css/webext-base.css';

:root {
	--github-red: #cb2431;
	min-width: 410px;
}

p {
	margin-top: 0;
}

input[type='text'] {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 1.4em;
	line-height: 1.5;
	width: 20em !important; /* https://github.com/sindresorhus/refined-github/issues/1374#issuecomment-397906701 */
}

input[type='text']:invalid {
	color: var(--github-red) !important;
	border: 1px solid;
}
