html {
	min-width: 550px;
	max-width: 700px;
	margin: auto;
	overflow-x: hidden;
}

:root {
	--github-green: #28a745;
	--github-red: #cb2431;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #292a2d;
		--text-color: #e8eaed;
		--secondary-text-color: #9aa0a6;
		--link-color: #8ab4f8;
		--input-border-color: rgba(255, 255, 255, 0.3);
	}
}


input[type='text'] {
	background-color: var(--background-color);
	color: var(--text-color);
	border: 1px solid var(--input-border-color);
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
	font-size: 1.4em !important;
}

input[type='text']:valid {
	color: var(--github-green) !important;
	border: 1px solid;
}

input[type='text']:invalid {
	color: var(--github-red) !important;
	border: 1px solid;
}

a {
	color: var(--link-color);
}

:root hr {
	margin-right: -17px;
	margin-left: -17px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* Increase spacing between sections */
h2 ~ h2 {
	margin-top: 2em;
}

@media (prefers-color-scheme: dark) {
	:root hr {
		border-color: rgs(255, 255, 255, 0.1);
	}
}

@-moz-document url-prefix('') {
	:root {
		background: none !important;
	}

	:root h2 {
		font-weight: normal;
	}

	:root hr {
		margin-right: 0;
	}

	body > :not(hr) {
		margin-left: 6px;
		margin-right: 6px;
	}
}
